spring:
  application:
    name: edge-gateway

server:
  port: 8080

security:
  oauth2:
    resourceserver:
      jwt:
        # Docker/Kubernetes context: Use service-to-service DNS
        issuer-uri: http://steel-hammer-keycloak:7081/realms/master
        jwk-set-uri: http://steel-hammer-keycloak:7081/realms/master/protocol/openid-connect/certs
